<div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="card-counter primary">
          <i class="fas fa-cloud-download-alt"></i>
          <span class="count-numbers"> {{totalDownloads}}</span>
          <span class="count-name">Total Downloads</span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card-counter info">
          <i class="fas fa-cloud-download-alt"></i>
          <span class="count-numbers"> {{dailyDownloads}}</span>
          <span class="count-name">Total Daily Downloads</span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card-counter success">
          <i class="fas fa-cloud-download-alt"></i>
          <span class="count-numbers"> {{monthlyDownloads}}</span>
          <span class="count-name">Total Monthly Downloads</span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card-counter danger">
          <i class="fas fa-cloud-download-alt"></i>
          <span class="count-numbers"> {{yearlyDownloads}}</span>
          <span class="count-name">Total Yearly Downloads</span>
        </div>
      </div>
      </div>
      <div style="display: inline-block">
        <ngx-charts-line-chart [view]="view"
                               [scheme]="colorScheme"
                               [results]="DownloadData"
                               [gradient]="gradient"
                               [xAxis]="showXAxis"
                               [yAxis]="showYAxis"
                               [legend]="showLegend"
                               [showXAxisLabel]="showXAxisLabel"
                               [showYAxisLabel]="showYAxisLabel"
                               [xAxisLabel]="xAxisLabel"
                               [yAxisLabel]="yAxisLabel"
                               [autoScale]="autoScale"
                               [timeline]="timeline"
                               (select)="onSelect($event)">

          <ng-template #tooltipTemplate let-model="model">

            {{model.series}}: {{model.name | date:'d/M/yy, H:mm'  }}
            <br />
            {{model.value}}
          </ng-template>
        </ngx-charts-line-chart>
      </div>
  </div>

